<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
	    <title>Friend Info</title>
        <link rel="stylesheet" href="/pub/style.css" type="text/css">
    </head>
    <body>
        <h1>Friend Information</h1>
        <div class="earth">
            <h2>Friendship Info</h2>
            <h3>Friend 1: <%- oneName %> | Timezone: <%- oneTime %></h3>
            <h3>Friend 2: <%- twoName %> | Timezone: <%- twoTime %> </h3>
            <h3>You two are <%- timeDifference %> hours apart!</h3>
            <p><a href="/">Home</a></p>
        </div>
    </body>
</html>